.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-form {
    max-width: 340px;
    padding: 20px;
    border: 1px solid gray;
}
.login-form-forgot {
    float: right;
}
.login-form-button {
    width: 100%;
}
